[Desktop Entry]
Type=Application
Name=WBeam Desktop
Comment=WBeam desktop control panel
Exec=desktop.sh
Icon=wbeam-desktop
Terminal=false
Categories=Utility;Development;
StartupWMClass=wbeam-desktop
X-GNOME-WMClass=wbeam-desktop
